@media print {
  @page {
    size: 297mm 420mm;
  }

  .newpage { page-break-before: always }
  a, a:visited { color: #000 !important; text-decoration: none; }

  .smallPhoto {
    display: initial !important;
  }

  .largePhoto {
    display: none !important;
  }

}

.smallPhoto {
  display: none;
  max-height: 7.2em;
}

.largePhoto {
  max-width: 100%;
}
