@media print {
  @page {
    size: 297mm 420mm;
  }

  .newpage { page-break-before: always }
  a, a:visited { color: #000 !important; text-decoration: none; }

  .headerPhoto {
    display: none !important;
  }

  .profilePhoto {
    display: initial !important;
  }

}

.profilePhoto {
  display: none;
}
